= form_for @isca do |f|
  - if @isca.errors.any?
    #error_explanation
      %h2= "#{pluralize(@isca.errors.count, "error")} prohibited this isca from being saved:"
      %ul
        - @isca.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
